@font-face {
  font-family: 'Pricedown';
  font-weight: 900;
  src: local('Pricedown'), url(./assets/fonts/pricedown\ bl.otf) format('opentype');
}

.Layout_main:after {
  background: #df1ec759;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.Dashboard_heading:after {
  background: #ed80fd;
  bottom: 0;
  box-shadow: 0 0 15px 5px #ed80fd;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 110%;
}

.Dashboard_card:after,
.Header_card:after {
  bottom: -5px;
  content: "";
  height: 100%;
  position: absolute;
  right: -5px;
  width: 100%;
  z-index: -1;
}

.Dashboard_card:after {
  background: #ed80fd;
}


.Header_card:after {
  background: #01eeff;
}
.Dashboard_button {
  cursor: pointer;
  position: relative;
}

.Dashboard_button:after {
  --tw-bg-opacity: 1;
  background-color: rgb(209 138 220/var(--tw-bg-opacity));
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  transition: all .15s;
  width: 100%;
  z-index: -1;
}

.Dashboard_button:hover::after {
  box-shadow: 0 0 8px 0.1px #ed80fd;
}