@font-face {
  font-family: 'Pricedown';
  font-weight: 900;
  src: local('Pricedown'), url(./assets/fonts/pricedown\ bl.otf) format('opentype');
}

.Layout_main:after {
  background: #df1ec759;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.Dashboard_heading:after {
  background: #ed80fd;
  bottom: 0;
  box-shadow: 0 0 15px 5px #ed80fd;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 110%;
}

.Dashboard_card:after,
.Header_card:after {
  bottom: -5px;
  content: "";
  height: 100%;
  position: absolute;
  right: -5px;
  width: 100%;
  z-index: -1;
}

.Dashboard_card:after {
  background: #ed80fd;
}


.Header_card:after {
  background: #01eeff;
}
.Dashboard_button {
  cursor: pointer;
  position: relative;
}

.Dashboard_button:after {
  --tw-bg-opacity: 1;
  background-color: rgb(209 138 220/var(--tw-bg-opacity));
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  transition: all .15s;
  width: 100%;
  z-index: -1;
}

.Dashboard_button:hover::after {
  box-shadow: 0 0 8px 0.1px #ed80fd;
}

.notificationWrapper {
  @apply flex flex-row items-center justify-between w-96 bg-gray-900 px-4 py-6 text-white shadow-2xl hover:shadow-none transform-gpu translate-y-0 hover:translate-y-1 rounded-xl relative transition-all duration-500 ease-in-out;
}

.iconWrapper {
  @apply text-xl;
}

.contentWrapper {
  @apply flex flex-col items-start justify-center ml-4 cursor-default;
}

.contentWrapper h1 {
  @apply text-base text-gray-200 font-semibold leading-none tracking-wider;
}

.contentWrapper p {
  @apply text-sm text-gray-400 mt-2 leading-relaxed tracking-wider;
}

.closeIcon {
  @apply absolute top-2 right-2 cursor-pointer text-lg;
}

.toaster {
  left: 0px; 
  right: 0px; 
  display: flex;
  position: absolute;
  transition: all 230ms cubic-bezier(0.21, 1.02, 0.73, 1) 0s;
  transform: translateY(0px);
  bottom: 0px;
  justify-content: center;
  }

  .toaster_{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 999rem; 
    background: rgb(34, 34, 34); 
    border: 1px solid rgb(40, 40, 40); 
    color: rgb(255, 255, 255); 
    animation: 0.4s cubic-bezier(0.06, 0.71, 0.55, 1) 0s 1 normal forwards running 
    
  }